# Manipulação e análise de dados
pandas==2.2.2
numpy==1.26.4

# Visualização
matplotlib==3.9.0
seaborn==0.13.2
plotly==5.22.0

# Jupyter Notebook
jupyter==1.0.0
ipython==8.25.0

# Utilidades
scikit-learn==1.5.0   # Para estatísticas básicas e pré-processamento
scipy==1.13.0         # Funções matemáticas e científicas